annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.4.2
fastapi==0.141.1
h11==0.16.0
httptools==0.8.0
idna==3.18
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
PyYAML==6.0.3
starlette==1.6.0
typing-inspection==0.4.3
typing_extensions==4.16.0
uvicorn==0.52.1
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
